.gradle
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/
.kotlin

### IntelliJ IDEA ###
.idea/modules.xml
.idea/jarRepositories.xml
.idea/compiler.xml
.idea/libraries/
*.iws
*.iml
*.ipr
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Archivos Locales de la IA (Healenium Local Results) ###
hlm-report/
healenium/
.healenium/

### Eclipse / VS Code ###
.apt_generated
.classpath
.factorypath
.project
.settings
bin/
.vscode/

### Sistemas Operativos y Salidas de Serenity ###
.DS_Store
/target/
target/